.layout-dashboard {
    .fenext-layout-grid-ml-children {
        &:has(.fenext-layout-grid-alert) {
            grid-template-rows: auto 1fr;
        }
    }
    &-content {
        min-height: calc(100dvh - var(--fenext-size-menu-top));
    }
}
@media (max-width: 575px) {
    :root {
        --fenext-size-menu-left-max: : 100%;
    }
}
