@import "../node_modules/fenextjs-component/styles/index";

@import "../src/ui-fenextjs/styles.scss";
@import "../src/components/styles.scss";
@import "../src/layout/styles.scss";
@import "../src/header/styles.scss";
@import "../src/filter/styles.scss";